
@font-face {
  font-family: 'Conv_8292';
  src: url('8292.eot');
  src: local('☺'), url('8292.woff') format('woff'), url('8292.ttf') format('truetype'), url('8292.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Conv_Solomon Sans Book Italic';
  src: url('Solomon Sans Book Italic.eot');
  src: local('☺'), url('Solomon Sans Book Italic.woff') format('woff'), url('Solomon Sans Book Italic.ttf') format('truetype'), url('Solomon Sans Book Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Conv_Solomon Sans Book';
  src: url('Solomon Sans Book.eot');
  src: local('☺'), url('Solomon Sans Book.woff') format('woff'), url('Solomon Sans Book.ttf') format('truetype'), url('Solomon Sans Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Conv_Solomon Sans Normal Italic';
  src: url('Solomon Sans Normal Italic.eot');
  src: local('☺'), url('Solomon Sans Normal Italic.woff') format('woff'), url('Solomon Sans Normal Italic.ttf') format('truetype'), url('Solomon Sans Normal Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Conv_Solomon Sans Normal';
  src: url('Solomon Sans Normal.eot');
  src: local('☺'), url('Solomon Sans Normal.woff') format('woff'), url('Solomon Sans Normal.ttf') format('truetype'), url('Solomon Sans Normal.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Conv_Solomon Sans SemiBold';
  src: url('Solomon Sans SemiBold.eot');
  src: local('☺'), url('Solomon Sans SemiBold.woff') format('woff'), url('Solomon Sans SemiBold.ttf') format('truetype'), url('Solomon Sans SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Conv_Kundera Reg';
  src: url('Kundera Reg.eot');
  src: local('☺'), url('Kundera Reg.woff') format('woff'), url('Kundera Reg.ttf') format('truetype'), url('Kundera Reg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

