input:not([type=submit]) {

}

.button {
	display: inline-block;
	outline: none;
	border: none;
	padding: 0;  
	height: 59px;
	line-height: 59px;
	text-align: center;
	text-decoration: none;
	background-color: #bd9e78;
	display: inline-block;
	color: white;
	font-size: 14px;
	letter-spacing: 1.23px;
	font-family: $normal;
	text-transform: uppercase;
	@media #{$bp-blarge} {
	      height: 44px;
	      line-height: 44px;
	      font-size: 12px;
	}
	@media #{$bp-large} {
	      height: 35px;
	      line-height: 35px;
	      font-size: 10px;
	}
	@media #{$bp-medium} {
	      height: 28px;
	      line-height: 28px;
	      font-size: 7px;
	}
}

[type=submit] {
	
	&:hover {
		cursor: pointer;
	}
	&:active {
		transform: translateY(1px);
	}
}
input.error {
	border: 1px solid red !important;
}


.form-all {
	width: 427px;
	background: rgba(255,255,255, .9);
	text-align: left;
	padding: 60px 40px;
	@media #{$bp-blarge} {
	      width: 321px;
	      padding: 50px 30px;
	}
	@media #{$bp-large} {
	      padding: 45px 22px;
	      width: 280px;
	}
	@media #{$bp-medium} {
	      width: 250px;
	}
	@media #{$bp-medium} {
	      padding: 30px 20px;
	}
	@media #{$bp-small} {
	      text-align: center;
	}
	&.center-form {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		@media #{$bp-small} {
		      max-width: 320px;
		}
		input {
			font-size: 16px;
			@media #{$bp-large} {
			      font-size: 14px;
			}
			@media #{$bp-small} {
			      font-size: 12px;
			}
		}
	}
	&.popup-form {
		background-color: #fff;
		&  .form-sm + form {
			padding-top: 0;
		}
		.note {
			margin-top: 15px;
		}
		@media #{$bp-small} {
		      width: 100%;
		}
		form {
			padding-top: 30px;
			input {
				color: #4a4a4a;
				font-size: 14px;
				@media #{$bp-blarge} {
				      font-size: 12px;
				}
				@media #{$bp-small} {
				      font-size: 10px;
				}
			}
		}
		.tabs-caption-call {
			margin-bottom: 20px;
			@media #{$bp-small} {
			      margin-bottom: 10px;
			}
			li {
				width: 50%;
				float: left;
				height: 30px;
				border: 1px solid #9d9d9d;
				color: white;
				font-size: 12px;
				letter-spacing: 1.05px;
				line-height: 30px;
				text-transform: uppercase;
				text-align: center;
				color: #9d9d9d;
				&.active {
					background-color: #d1b38c;
					color: #fff;
					border: 1px solid #d1b38c;
				}
			}
		}
		.tabs-content-input {
			display: none;
			&.active {
				display: block;
				input {
					margin: 0px 0 25px;
					@media #{$bp-small} {
					      margin-bottom: 10px;
					}
				}
			}
		}
	}
	.form-sm-call {
		margin: 0px 0 10px !important;
	}
	.button {
		width: 100%;
	}
	&.form-header {
		padding-bottom: 100px;
		padding-top: 60px;
		float: right;
		@media #{$bp-blarge} {
		      padding-bottom: 70px;
		}
		@media #{$bp-large} {
			padding-bottom: 50px;
			padding-top: 45px;
		}
		@media #{$bp-medium} {
		      padding-top: 30px;
		      padding-bottom: 40px;
		}
	}
	.form-title {
		color: #3d3d3d;
		font-size: 33px;
		letter-spacing: 5.74px;
		line-height: 42px;
		font-family: $f;
		text-transform: uppercase;
		@media #{$bp-blarge} {
		      font-size: 28px;
letter-spacing: 4.87px;
line-height: 34px;
		}
		@media #{$bp-large} {
		      font-size: 22px;
letter-spacing: 3.83px;
line-height: 24px;
		}
		@media #{$bp-medium} {
		      font-size: 16px;
letter-spacing: 2.78px;
line-height: 18px;
		}
	}
	.form-sm {
		color: #3d3d3d;
		font-size: 18px;
		line-height: 22px;
		font-family: $book;
		margin: 30px 0 35px;
		@media #{$bp-blarge} {
		      font-size: 14px;
line-height: 16px;
margin: 20px 0;
		}
		@media #{$bp-large} {
		      font-size: 11px;
line-height: 14px;
margin: 13px 0;
		}
		@media #{$bp-medium} {
		      font-size: 8px;
line-height: 10px;
		}
	}
	.note {
		color: #3d3d3d;
		font-size: 15px;
		line-height: 18px;
		font-family: $book;
		margin-top: 23px;
		@media #{$bp-blarge} {
		      font-size: 12px;
line-height: 14px;
		}
		@media #{$bp-large} {
		      font-size: 11px;
		}
		@media #{$bp-medium} {
		      font-size: 8px;
line-height: 10px;
		}
	}
	input {
		width: 100%;
		display: inline-block;
		padding-left: 30px;
		height: 58px;
		background-color: white;
		border: 1px solid #e2e2e2;
		outline: none;
		margin-bottom: 20px;
		font-family: $normal;
		color: #4a4a4a;
		font-size: 16px;
		@media #{$bp-blarge} {
		      height: 44px;
		      font-size: 13px;
		      margin-bottom: 15px;
		      padding-left: 20px;
		}
		@media #{$bp-large} {
		      height: 35px;
		      margin-bottom: 13px;
		      padding-left: 20px;
		      font-size: 12px;
		}
		@media #{$bp-medium} {
		      padding-left: 14px;
		      font-size: 8px;
		      height: 28px;
		}
		@media #{$bp-small} {
		      text-align: center;
		      padding: 0;
		}
	}
}