.video-play {
  width: 120px;
  height: 120px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
border-radius: 50%;
  border: 1px solid rgba(209, 179, 140, .4);
position: relative;
background: url(../img/phoneanimate.svg) center center no-repeat;
background-size: 38px 30px;
transition: all .15s linear;

&:hover {
  cursor: pointer !important;
}
&:before {
  content: " ";
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0; 
  position: absolute;
  width: 176px;
  height: 176px;
  left: -28px;
  border: 1px solid rgb(209, 179, 140);
  border-radius: 50%;
  animation: circle 1.7s linear infinite;
}
&:after {
  content: " ";
  bottom: 0;
  margin: auto;
  right: 0;
  position: absolute;
  top: 0;
  width: 160px;
  height: 160px;
  left: -20px;
  border: 1px solid rgb(209, 179, 140);

  border-radius: 50%;
  animation: circle 2s linear .5s infinite;
}
}
