$normal: 14px;

$font: 'Conv_8292';
$f: 'Conv_Kundera Reg';
$normal: 'Conv_Solomon Sans Normal';
$ni: 'Conv_Solomon Sans Normal Italic';
$book: 'Conv_Solomon Sans Book';
$bi: 'Conv_Solomon Sans Book Italic';
$semi: 'Conv_Solomon Sans SemiBold';


$bp-xx-large:   "only screen and (min-width : 1900px)";
$bp-x-large:    "only screen and (min-width : 1240px)";
$min-s:    "only screen and (min-width : 800px)";

// $bp-xxx-large:   "only screen and (max-width : 1500px)";
$bp-blarge:      "only screen and (max-width : 1899px)";
$bp-large:      "only screen and (max-width : 1239px)";
$bp-medium:     "only screen and (max-width : 991px)";
$bp-small:      "only screen and (max-width : 799px)";
$bp-smm:      "only screen and (max-width : 550px)";
$bp-xsmall:    "only screen and (max-width : 479px)";
$bp-xxsmall:    "only screen and (max-width : 320px)";


// ul {
	// @media #{$bp-small} {
	// 	width: 100%;
	// }
// }

// ul {  
//   @include respond-to(desktope) {
//     width: 400%;
//   }
// }
